body {
    background-image: url(/Imagenes/matrix.jpg);
width: 1400px;

}

.logoA {
    height: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

/*imágen y titulo*/
.caja1 {
    width: 1253px;
    height: 80px;
    float: left;

}

.imagen {
    margin: 40px 0 0 80px;
    display: inline-block;
}
.titulo1 {
    font-family: 'Ubuntu', sans-serif;
    color: aliceblue;
    font-size: 30px;
    display: inline-block;
    padding: 5px;
    margin: 0 0 0 440px;
    
}

/*Cajas*/
.caja2, .caja3 {
    height: 370px;
    float: left;
}

.caja2{
    width: 703px;
}

.caja3 {
    width: 550px; 
}

/*area te texto, advertencia y botones*/
.area-texto, .area-texto2 {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    background: #0b5101;
    opacity: 0.5;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: azure;
    
    
}

.area-texto {
    width: 530px;
    height: 200px;
    margin: 40px 40px 10px 130px;
}

.area-texto2 {
    width: 460px;
    height: 200px;
    margin: 40px 40px 0 20px;
}

.precaucion {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    padding: 10px;
    margin: 10px 0 5px 260px;
}

.botonEncriptar, .botonDesencriptar, .botonCopiar {
    font-family: 'Noto Sans JP', sans-serif;
    width: 185px;
    height: 67px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    transition: 1s all;
      
    
}

.botonEncriptar {
    margin: 20px 30px 10px 190px;
    background: #5F915D;
    margin-left: 10px;

}
.trini{
    height: 80px;
    float: left;
    margin-left: 80px;
    margin-top: 25px;
  }
.botonDesencriptar {
    background: #015b17;
    
}
.neo{
    height: 80px;
    margin-right: 5px;
    margin-bottom: -46px;
  }
.botonCopiar {
    width: 248px;
    background: #022401;
    margin-top: 50px;
}
.gemelos{
    height: 80px;
    float: left;
    margin-right: -20px;
    margin-top: 48px;
}

.botonEncriptar:hover, .botonDesencriptar:hover, .botonCopiar:hover {
    transform: scale(1.1);
    background: #0e0e0e;
    font-family: 'arial';
}

/*footer*/
.caja4 {
    width: 1800px;
    height: 125px;
    font-size: 15px;
    text-align: center;
    float: left;
    background: #010101;
    margin-top: 120px;
    margin-left: -80px;
    
}
.finalTexto{
    font-family: 'Ubuntu', sans-serif;
    color: azure;
    margin-top: 90px;
    margin-right: 300px;
}
.lostres{

    width: 210px;
    float: left;
    margin-left: 60px;
    opacity: 80;

}